.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
application/logs/endpoint/*.log
!application/logs/index.html
!application/logs/endpoint

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

application/config/config.php
application/config/database.php
application/config/redis.php
application/ci_sessions/*
application/ci_sessions/index.html
application/compilation_cache/*
!application/compilation_cache/index.html

blog/wp-config.php

public/blogs.json
public/write/*
public/uploads/*
!public/uploads/index.html
!public/uploads/logo/index.html
!public/uploads/plat/index.html
!public/uploads/press/index.html
!public/uploads/team/index.html
id_docs/*
!id_docs/index.html

change/config.php
blog/*
ads/*
adserver_new/*
widget/*
cookie.txt
robots.txt
node_modules/*
deploy/deploy.log
