.tbl {
  margin: 1em 0;
  width: 100%;
  background: #FFF;
  color: #024457;
  border: 1px solid #167F92;  
  font-size: 1em;
  border-collapse: collapse;    
}

.tbl tr {
  border: 1px solid #D9E4E6;
}

.tbl tr:nth-child(odd) {
  background-color: #EAF3F3;
}

.tbl th {
  display: none;
  border: 1px solid #FFF;
  background-color: #34495e;
  color: #FFF;
  padding: 1em;
  cursor: default;
  text-align: left;
}

.tbl td {
  border: 1px solid #D9E4E6;
}

.tbl th, .tbl td {
  margin: .5em 1em;
}

.tbl th, .tbl td {
    display: table-cell;
    padding: .5em;
}


input
{
  width: 100%;
  font-size: 1em;
}

textarea
{
  width: 100%;
  height: 100px;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

select
{
  font-size: 1em;
}  


.tbl_pointer tr:hover {
  background-color: #D9E4E6;
  cursor: pointer;
}

label 
{
  font-weight: normal;
}

.input-error {
  border: 1px solid #F00 !important;
}

button.multiselect {
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn_tab {
  float: left;
  position: relative;
}
.ierror {
  color: red;
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;
}
.help-block {
  margin-bottom: 0px;
}
.panel-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.panel-group .panel-heading {
  background-color: #f7f9fa;
}