<div class="header"></div>
<div class="main">
    <section style="text-align:center;">
        <h1>Reset Your Password</h1>
        <form method="post">
            {% if not isValid %}
                <div class="form-group">
                    <div class="alert alert-danger">
                        {{ formError | raw }}
                    </div>
                </div>
            {% endif %}

            {% if isError %}
                <div class="form-group">
                    <div class="alert alert-danger">
                        That reset link has expired or isn't valid
                    </div>
                </div>

            {% else %}
                <div class="form-group">
                    <input type="password" name="tx_password" class="form-control" placeholder="Enter new password" value="{{ formData['tx_password'] }}" maxlength="15" />
                </div>
                <div class="form-group">
                    <input type="password" name="tx_repassword" class="form-control" placeholder="Re-type new password" value="{{ formData['tx_repassword'] }}" maxlength="15" />
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <button name="submit" value="1" type="submit">Reset Password</button>

            {% endif %}
        </form>
    </section>
</div>