<div class="header"></div>
<div class="main">
    <section style="text-align:center;">
        <h1>Reset Your Password</h1>
        <form method="post" action="{{ base_url }}forgot_password.html">
            {% if not isValid %}
                <div class="form-group">
                    <div class="alert alert-danger">
                        {{ formError | raw }}
                    </div>
                </div>
            {% endif %}

            {% if isSuccess %}
                <div class="form-group">
                    <div class="alert alert-success">
                        If the entered email matches a valid account, the password has been reset and an email sent.
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <input type="email" name="tx_email" class="form-control" placeholder="Your Email" value="{{ formData['tx_email'] }}"/>
            </div>

            <button name="submit" value="1" type="submit">Reset Password</button>
        </form>
    </section>
</div>