<div class="header"></div>
<div class="main">
    <section style="text-align: center; min-height: 250px; margin-top: 120px;">
        <h1>We&rsquo;ll be back soon!</h1>
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment.</p>
    </section>
</div>