<style>
.partner-item { position: relative }
.partner-text { position: absolute; top: -5px; }
.partner-p { margin-bottom: 10px; margin-top: 10px; }
</style>
<div class="header"></div>
<div class="main">
    <section>
        <h1>Our partners</h1>
        {{ htmlRender | raw }}
    </section>
</div>