<div class="header"></div>
<div class="main">
    <section style="text-align: center; min-height: 250px; margin-top: 120px;">
        <h1>API Key Request Form</h1>
        <p>Sorry for the inconvenience but we're just developing this page.</p>
        {{ apirequests }}
    </section>
</div>