
<style>
    iframe {
        display: block;
        background: #f9f9f9;
        border: none;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
</style>
<div class="header"></div>
<div class="main">
    <section>
        <iframe frameBorder="0" scrolling="yes" src="https://www.app.coinschedule.com.thisisatestingserver.com/project/detail/17"></iframe>
    </section>
</div>