<div class="header"></div>
<div class="main">
    <section style="text-align: center; min-height: 250px; margin-top: 120px;">
        <h1>Whoops!</h1>
        <h2>404: We could not find what you were looking for</h2>
        <p>Please check the link and try again.</p>
    </section>
</div>