body
{
    width: 100%;
    height: 100%;
    background-color: white;
}
.header2
{
    margin-left: -200px;
}
/*.form_body*/
/*{*/
    /*background-color: white;*/
    /*position: absolute;*/
    /*margin: auto;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
/*}*/