/*** Base path ***/
$icon-font-path: '../fonts/';
$images-path: '../images/';
$icons-path: '../images/icons/';

// Colors palette
$color-1: #171314;
$color-2: #8e8d8f;
$color-3: #e6e5e8;
$color-4: #d2d0d5;
$color-5: #5c4f7c;
$color-6: #746a95;
$color-7: #fff;
$color-8: #33b13d;
$color-9: #51bd5a;


/*** General ***/
$font-family-r: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-m: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-sb: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$base-box-shadow: 0 1px 1px $color-3;
$base-border: 1px solid $color-4;


/*** Typography ***/

